@font-face {
  font-family:Suez;
  src: url(../fuentes/SuezOne-Regular.ttf);
}
@font-face {
  font-family: MitrRegular;
  src:url(../fuentes/Mitr-Regular.ttf);
}
@font-face {
  font-family: MitrLight;
  src:url(../fuentes/Mitr-Light.ttf);
}
:root{
  --rojo:#c42659;
  --azul:#1b3a59;
}
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
/*--------------_CONTENEDOR---------*/
.wrapper{
  width:100%;
}
/*-------MENURESPONSIVE-------*/
.barramenu{
  width:100%;
  display: none;
}
.barrabtn{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.barrabtn a{
  padding:10px;
  color:white;
  text-decoration:none;
}
.barrabtn a:hover{
  color:var(--rojo);
}
#cerrar{
  display: none;
}
#cerrar, #abrir{
  cursor:pointer;
  font-size:1.2em;
}

/*-------------------MENU----------------*/
.menu{
  width:100%;
  /*---box-shadow: 10px 0px 10px rgba(0,0,0,0.2);---*/
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

#active{
  width:500px;
  height:500px;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
}
.contenedormenu{
  width:100%;
  max-width:1400px;
  margin:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
}
.logomenu{
  padding:10px
}
.logomenu img{
  width:60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.btnmenu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding:0px 30px;
}
.btnmenu a{
  padding:10px;
  text-decoration:none;
  color:white;
  font-family: Suez;
  position:relative;
}
.btnmenu a::after{
  content:"";
  display: block;
  width:0px;
  height:3px;
  background:var(--rojo);
  position:absolute;
  bottom:0px;
  left:50%;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btnmenu a:hover::after{
  width:100%;
  left:0px;
}
.fixed{
  position:fixed;
  background:var(--azul);
  padding:0px;
}

/*------------------HEADER---------------*/
#top{
  width:100%;
  height:100vh;
  background-image:url(../img/nubesuno.png);
  background-position: center bottom;
  background-repeat:no-repeat;
  background-size: 100%;
}
#yellow{
  background-image: url(../img/back.svg);
  background-position: center bottom;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-50;
}
#stars{
  background-image:url(../img/stars.png);
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-10;
}
#crosses{
  background-image:url(../img/croosses.png);
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-1;
}
#nubesdos{
  background-image:url(../img/nubesdos.png);
  background-position: center bottom;
  background-size:100%;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-5;

}
#nave{
  background-image:url(../img/nave.png);
  background-position: center center;
  background-size:300px;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-5;

}
#resplandor{
  background-image:url(../img/resplandor.png);
  background-position: center center;
  background-size:contain;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  position:fixed;
  z-index:-15;
  opacity: 0.2;

}
/*----------------------------TXT----UNO---------*/
.about{
  width:100%;
  background:white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}
.aboutcont{
  width:100%;
  max-width:1400px;
  padding:100px 20px 100px 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:column;
  align-items:center;
  justify-content: center;
}
.abouttitulo{
  width:50%;
}
.abouttitulo h1{
  font-family: Suez;
  font-size:2em;
  color:var(--rojo);
}

.abouttxt{
  width:50%;
}
.abouttxt p{
  font-family:MitrLight;
  font-size:1.2em;
  padding:20px 0px;
  text-align: justify;
  color:var(--azul);
}
.txtbtn{
  width:50%;
  padding:20px 0px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
.txtbtn a{
  color:var(--azul);
  font-family: Suez;
  font-size:1.2em;
  text-decoration: none;
}
/*---------------------TXT----vector----*/
.vector{
  width:100%;
}
.vectorcont{
  width:100%;
  max-width:1400px;
  margin:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content:center;
}
.vectorcont img{
  width:800px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top:100px;
}
/*---------------------TXT----DOS----*/
.txtdos{
  width:100%;
  background:var(--azul);
}
.txtdoscont{
  width:100%;
  max-width:1400px;
  margin:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:column;
  align-items:center;
}
.txtdostitulo{
  padding:10px 10px 10px 10px;
  width:50%;
}
.txtdostitulo h1{
  width:100%;
  color:white;

  font-family:Suez;
  font-size:2em;
}
.txtdosp{
  width:50%;
  padding:30px 10px;
}
.txtdosp ul{
  list-style:none;
  text-align: justify;
}
.txtdosp li{
  color:white;
  font-family:MitrLight;
  font-size:1.2em;
}
.txtdosbtn{
  width:100%;
  padding:20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  width:50%;
}
.txtdosbtn a{
  color:white;
  font-family: Suez;
  font-size:1.2em;
  text-decoration: none;
}
#indice{
  padding-top:50px;
}
.web{
  width:100%;
  background:#ffffff;
  padding:100px 0px 0px 0px;
}
.webcont{
  width:1000px;
  max-width:1400px;
  margin:auto;
}
.webcont img{
  width:1000px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;

}
.weblogos{
  width:100%;
  background:white;
  padding:0px 0px 50px 0px;

}
.weblogoscont{
  width:100%;
  max-width:1400px;
  margin:auto;
  text-align: center;
}
/*-------------------FOOTER--------------*/
.footer{
  width:100%;
  background:var(--azul);
}
.footercont{
  width:100%;
  max-width:1400px;
  margin:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content:space-between;
  align-items:center;
}
.footerlogo{

  padding:10px;
}
.footerlogo img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding:10px;
}
.footerredes{

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding:10px;
}
.footerredes a{
  padding:10px;
  color:white;
  text-decoration:none;
  font-family:MitrRegular;
  font-size:1.2em;
}


/*----------------------RESPONSIVE-----------*/
@media screen and (max-width:800px){
  .barramenu{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu{

    padding:10px;
  }
  .contenedormenu{

    justify-content: flex-start;
    padding:0x;
    overflow:hidden;
  }
  .logomenu{
    display: none;
  }
  .logomenu img{
    display: none;

  }
  .btnmenu{

    flex-flow:column;
    width:100%;
    max-height:0px;
  }
  .btnmenu a::after{
    display: none;
  }
  .btnmenu a:hover{
    color:var(--rojo);
  }
